<div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img class="anh-chi-tiet" src="{{spa.url}}" alt="" />
      </div>
      <div class="col-6">
        <div class="border-anh">
          <p>ID</p>
          <input type="text" ng-model="spa.id" />
          <p>Mã sản phẩm:</p>
          <input type="text" ng-model="spa.ma" />
          <p>Tên sản phẩm:</p>
          <input ng-model="spa.name" />
          <p>Giá sản phẩm:</p>
          <input ng-model="spa.price" />
          <p>Hãng sản xuất:</p>
          <input ng-model="spa.hsx" />
          <br />
          <div class="button">
            <button class="btn">Thêm vào giỏ hàng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
