<section>
  <div class="qlsp">
    <h1>Quản lý thể loại</h1>
    <p>ID:</p>
    <input type="text" ng-model="form_Cate.id" />
    <p>Hãng sản xuất:</p>
    <input type="text" ng-model="form_Cate.name" />
    <br />
    <button ng-click="addCategories($event);">ADD</button>
    <button href="#" ng-click="updateCate($event)">Update</button>
    <br />
  </div>
  <table border="1" class="table">
    <thead>
      <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Hãng sản xuất</th>
        <th>Function</th>
      </tr>
    </thead>
    <tbody ng-repeat="dh in listCategories">
      <tr>
        <th>{{$index}}</th>
        <th>{{dh.id}}</th>
        <th>{{dh.name}}</th>
        <th>
          <a href="#" ng-click="detailCate($event, $index)"> Detail </a>
          <a href="#" ng-click="removeCate($event, $index)"> Delete </a>
        </th>
      </tr>
    </tbody>
  </table>
</section>
